<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/canvas">Cells</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/dynamic">DynCells</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olpolygon">OL6 poly</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olpolygonrd">RD</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olpolygonrdbrt">RD BRT</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olpolygoncolorsrdbrt">DynaColors</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olshowgml2wfs100">GML2</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olshowgml">GML3</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olshowgmlrd">GML3 RD</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olshowgmlrdbrt">GML3 RD BRT</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olshowgmlrdtest">GML3 RD Test</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olshowgmlrdcentroid">GML3 RD Centroid</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olshowgeojson">GJ</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olshowgeojsonrd">GJ RD</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olshowgeojsonrdbrt">GJ RD BRT</a></li>
      <li class="nav-item"><a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/olshowgeojsondynostyles">GJ Dyno Styles</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
