<div class="row d-none d-md-block">
  <div class="col-8 m-2 h5">
    <label><strong>Bereken (interne) middelpunt</strong></label>
  </div>
</div>
<div class="row m-2">
  <div id="map" class="map col-8"></div>
</div>
<form #f="ngForm">
  <div class="form-group">
    <div class="row mt-4 m-2">
      <div class="col-2"><label class="font-weight-bold" for="candidateCentroid">Kandidaat middelpunt</label></div>
      <div class="col-1">
        <input type="text" id="candidateCentroid" name="candidateCentroid" [(ngModel)]="candidateCentroid" required class="form-control"
               #v_candidateCentroid="ngModel">
        <span *ngIf="!v_candidateCentroid.valid && v_candidateCentroid.touched" class="text-danger">Middelpunt mag niet leeg zijn. Vul een geldige RD coordinaat in. </span>
      </div>
      <div class="clearfix visible-sm-block"></div>
    </div>
  </div>
  <div class="form-group">
    <div class="row m-2">
      <div class="col-2"><label class="font-weight-bold" for="middelpunt">Intern middelpunt</label></div>
      <div class="col-1">
        <input type="text" id="middelpunt" name="middelpunt" [(ngModel)]="middelpunt" disabled class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row m-2">
      <div *ngIf="errorMessage !== ''" class="text-danger col-12 mb-1">{{ errorMessage }}<br></div>
      <br>
      <button [disabled]="!f.valid" class="btn btn-info col-2 ml-1" type="button"
              (click)="determineInternalCentroid( f)">Bereken (interne) middelpunt</button>
    </div>
  </div>
</form>

